{% extends 'upper.html' %} {% block content %}
<div class="container announce-wrapper">
	<h3 class="title">最新公告</h3>
	<div class="row">
		<table class="table">
			{% for Announcement in Announcement_list %}
			<tr>
				<td class="td-date">
					{{ Announcement.Posted_time }}
				</td>
				<!why not href="{% url 'Announcement_detail' id=anncs.id %}"??>
				<td class="announcement_title" href="">
					{{ Announcement.Title }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>{% endblock %}
