 {% extends 'upper.html' %} {% block content %}
<div class="container event-wrapper">
	<div class="signup-form">
		<h3 class="text-center">{{event_signup.Event_name}}</h3>
		<div class="description">
			<p>每隊上限：{{event_signup.Team_Limit}}</p>
			<p>隊伍上限：{{event_signup.Team_Size_Limit}}</p>
			<p>已報名隊伍：3 隊</p>
			<p class="warning">尚可報名：17 隊</p>
		</div>
		<br>
		<label class="text-center" for="team_name">隊伍名稱</label>
		<input type="text" id="team_name" name="team_name" class="form-control" value="MHW Pro">
		<br>
		<label class="text-center" for="team_name">隊伍人員</label>
		<table class="table">
			<tr>
				<th class="student-id">隊員學號</th>
				<th>姓名</th>
				<th></th>
			</tr>
			<tr>
				<td class="student-id">0513579</td>
				<td>要堅強</td>
				<td class="text-right">
					<button class="btn btn-new" style="margin-right:30px">修改</button>
					<button class="btn btn-remove">取消</button>
				</td>
			</tr>
			<tr>
				<td class="student-id">
					<input type="text" name="student_id" class="form-control">
				</td>
				<td class="student-id">
					<input type="text" name="student_name" class="form-control">
				</td>
				<td class="text-right">
					<button class="btn btn-new" style="margin-right:30px">新增隊員</button>
				</td>
			</tr>
		</table>
		<div class="text-left form-bottom">
			<button class="btn btn-default">提交報名表</button>
		</div>
	</div>
</div>{% endblock %}