{% extends 'upper.html' %} {% block content %}
<div class="container announce-wrapper">
    <h3 class="title">{{evnet_name}}的報名狀況</h3>
    <div class="row">
        <table class="table table-hover">

            <tbody>
                {% for Members,Team in Team_set%}
                <h2>{{Team}}</h2>
                <h3>隊長：{{Team.leader}}</h3>
                 隊員：
                 {% if Members %}
                     {% for field in Members %}
                        {{ field }}
                     {% endfor %}
                
                {% else %}
                無
                 {% endif %}
                 {% endfor %}
            </tbody>


        </table>
    </div>
</div>{% endblock %}