 {% extends 'upper.html' %} {% block content %}
 {% if messages %}

	{% for message in messages %}
	 <script>
		alert('{{ message }}');
	</script>
	{% endfor %}
{% endif %}
<div class="container event-wrapper event-list">
	<h3 class="title">活動列表</h3>
	{% if user.is_superuser %}
	<div class="pull-right">
		<a href="/events/add">
			<button type="button" class="btn btn-primary">新增活動</button>
		</a>
	</div>
	{% endif %}
	<br>
	<table class="table text-center">
		<tr>
			<th class="text-center">項目</th>
			<th class="text-center">規則</th>
			<th class="text-center">報名</th>
			{% if user.is_superuser %}
			<th class="text-center">操作</th>
			{% endif %}
		</tr>
		{% for event in event_list %}
		<tr>
			<td>{{ event.Event_name }}</td>
			<td>{{ event.Description }}</td>
			<td>
				<a href="/signup/{{ event.id }}">
					<button class="btn btn-default btn-event">報名</button>
				</a>
			</td>
			{% if user.is_superuser %}
			<td>
				<a href=" /events/edit/{{ event.id }}">
					<button type="button" class="btn btn-primary">修改</button>
				</a>
				<a href="/events/status/{{ event.id }}">
					<button type="button" class="btn btn-success">報名狀況</button>
				</a>
				<a href="/events/delete/{{ event.id }}">
					<div class="pull-right">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')" />刪除</button>
					</div>
				</a>
			</td>
			<script type="text/javascript">
				function clicked() {
					if (confirm('Do you want to submit?')) {
						yourformelement.submit();
					} else {
						return false;
					}
				} </script> 
			{% elif user.is_authenticated %}
			<td>
				
				<a href="/signup_delete/{{ event.id }}">
					<div class="pull-right">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')" />取消報名</button>
					</div>
				</a>
			</td>
			 {% endif %}

		</tr>
		{% endfor %}

	</table>
	</br>
</div>

{% endblock %}