{% extends 'upper.html' %} {% block content %}
<div class="container announce-wrapper">
	<h3 class="title">最新公告</h3>
	<div class="row">
		<table class="table">
			{% for Announcement in post_list %}
			<tr>
				<td class="td-date">
					{{ Announcement.Posted_time }}
				</td>
				<td class="announcement_title" href="/#">
					{{ Announcement.Title }}
				</td>
			</tr>
			<tr>
				<td>
					{% if Announcement.image %}
					<p>
						<img src="{{ Announcement.image }}" alt="">
					</p>
					{% else %}
					<p class="thumbnail thumbnail-default"></p>
					{% endif %}
				</td>
				<td class="Announcement_Description">
					{{ Announcement.Description}}
				</td>

				<td>
					{{ Announcement.markdown_text }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>{% endblock %}