{% extends 'upper.html' %} {% block content %}
<div class="container announce-wrapper">
	<h3 class="title">最新公告</h3>
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>標題</th>
					<th>發布時間</th>
				</tr>
			</thead>

			<tbody>
				{% for Announcement in Announcement_list %}
				<tr>
					<td>
						<a href="/anncs/{{ Announcement.id }}">
							{{ Announcement.Title }}
						</a>
					</td>
					<td>
						{{ Announcement.Posted_time }}
					</td>
					{% endfor %}
				</tr>
			</tbody>


		</table>
	</div>
</div>{% endblock %}